:root{
    --primary-color: #2d4c9a;
    --secundary-color: antiquewhite;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--secundary-color);
}
.header > button{
    padding-inline: 1rem;
}

/*  */

.aside{
    display: none;
}

/*  */

.main{
    display: flex;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .main{
        flex-direction: column;
        gap: 2rem;
    }
}

/*  */

.main__content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*  */

.search__field{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.search__input{
    width: 50%;
    display: flex;
    justify-content: center;
}
.search__input > input, .search__input > button{
    padding: .5rem;
}
.search__input > input{
    width: 100%;
}
.search__input > button{
    padding-inline: 1rem;
}

.search__controlls{
    width: 25%;
    display: flex;
}
.search__controlls > button{
    padding: 0.5rem;
    width: 100%;
}

@media screen and (max-width: 600px){
    .search__field{
        flex-direction: column;
        gap: 0.5rem;
    }

    .search__input, .search__controlls{
        width: 100%;
    }
}

/*  */

.search__results{
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.result__item{
    display: flex;
    flex-direction: column;
    width: 25%;   
    padding: 0.5rem;
}
.result__item > img{
    display: block;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

@media screen and (max-width: 600px){
    .result__item{
        width: 50%;
    }
}