:root{
    --primary-color: #2d4c9a;
    --secundary-color: antiquewhite;
}

.header{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--secundary-color);
}

.main{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 600px){
    .main{
        flex-direction: column;
        gap: 2rem;
    }
}

/*  */

.main__left{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 50%;
}
.main__left > h2{
    /* background-color: red; */
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}
.search__field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.search__field > form > input, .search__field > form > button{
    padding: .5rem;
}

@media screen and (max-width: 600px){
    .main__left{
        width: 100%;
    }
}

/*  */

.main__right{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 50%;
}
.main__right > h2{
    /* background-color: red; */
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

@media screen and (max-width: 600px){
    .main__right{
        width: 100%;
    }
}
